* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f0f14;
  color: #fff;
}


.navbar {
  background: #111;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00ffd5;
}


.hero {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
  background: linear-gradient(to right, #0f0f14, #1b1b2f);
}

.hero h1 {
  font-size: 60px;
}

.hero p {
  margin: 15px 0;
  color: #aaa;
}

.btn {
  width: 160px;
  padding: 12px;
  background: #00ffd5;
  border: none;
  text-align: center;
  text-decoration: none;
  color: #000;
  border-radius: 6px;
  margin-top: 20px;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}


.products {
  padding: 80px;
}

.products h2 {
  text-align: center;
  margin-bottom: 40px;
}

.card-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.card {
  background: #16161f;
  width: 260px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  transition: 0.4s ease;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
}

.card h3 {
  margin: 15px 0 5px;
}

.card p {
  color: #00ffd5;
}

.card button {
  margin-top: 12px;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background: #00ffd5;
  cursor: pointer;
}


.card:hover {
  transform: translateY(-15px) scale(1.03);
  box-shadow: 0 20px 40px rgba(0,0,0,0.7);
}
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #333;
  font-size: 14px;
}

.footer {
  width: 100%;
  padding: 30px 0;
}
