* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f0f14;
  color: #fff;
}


.navbar {
  background: #111;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00ffd5;
}

.cart-link {
  position: relative;
}

.cart-indicator {
  position: absolute;
  top: -8px;
  right: -15px;
  background-color: #00e0d6;
  color: black;
  font-size: 10px;
  padding: 3px 6px;
  border-radius: 50%;
  display: none;
}


.page-title {
  text-align: center;
  margin: 30px 0;
  font-size: 28px;
}


.products-container {
  width: 90%;
  margin: auto;
}


.category-title {
  margin: 30px 0 15px;
  font-size: 22px;
  border-left: 4px solid #00ffd5;
  padding-left: 10px;
}


.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


.product-card {
  background: #181820;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  transition: 0.3s;
}

.product-card:hover {
  transform: scale(1.03);
}


.product-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 6px;
}


.product-card h3 {
  margin: 10px 0 5px;
  font-size: 18px;
}


.product-card p {
  color: #00ffd5;
  font-weight: bold;
}

.product-card button{
  margin-top: auto;
  padding: 10px;
  background-color: cyan;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.product-card button:hover{
  background-color: white;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #333;
  font-size: 14px;
}

.footer {
  width: 100%;
  padding: 30px 0;
}